openai_key=your_openai_api_key

CHROMA_DB_PATH=vector_store
CHROMA_COLLECTION=skin_knowledge_base
EMBED_MODEL_NAME=jhgan/ko-sroberta-multitask

tavily_key=your_tavily_api_key
HF_TOKEN=your_huggingface_token

SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_FROM_EMAIL=your_sendgrid_from_email
EMAIL_OTP_SECRET=your_email_otp_secret

DATA_GO_CSMT_KEY=your_data_go_api_key
NCBI_API_KEY=your_ncbi_api_key
PUBMED_EMAIL=your_pubmed_email

SSH_HOST=
SSH_PORT=
SSH_USER=
SSH_PKEY=

AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
S3_BUCKET_NAME=your_s3_bucket_name

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_local_db_password
DB_NAME=chatbotdb
DATABASE_URL=mysql+pymysql://root:your_local_db_password@localhost:3306/chatbotdb?charset=utf8mb4

VITE_API_BASE_URL=http://localhost:8001

TEMP_ACCESS_TOKEN=

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8001/auth/google/callback

KAKAO_CLIENT_ID=your_kakao_client_id
KAKAO_CLIENT_SECRET=your_kakao_client_secret
KAKAO_REDIRECT_URI=http://localhost:8001/auth/kakao/callback

JWT_SECRET_KEY=your_jwt_secret_key
